NEXT_PUBLIC_SUPABASE_URL=https://asvtrmpsnuqhtsxlpstm.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzdnRybXBzbnVxaHRzeGxwc3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NzUxMTUsImV4cCI6MjA5MzI1MTExNX0.Z8l7974keTAQgizKgUinimKr6aXx3zsLpEjmFZxXu2E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzdnRybXBzbnVxaHRzeGxwc3RtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzY3NTExNSwiZXhwIjoyMDkzMjUxMTE1fQ.e76CR1aIYvX7No5t6CflrZkTJ39otOJyh0unRu8lQHg
RESEND_FROM_EMAIL=onboarding@resend.dev
REVIEW_NOTIFY_EMAIL=
RESEND_API_KEY=re_Zy6tKQn8_DKe4HLfVqUuApdQtMDKWTZjQ

ADMIN_EMAIL=admin@onecore.com
ADMIN_PASSWORD=123456